<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheet.css">
  </head>
  <body>
    <div id="app" class="container">
      <div class="row justify-content-center">
        <div class="">

          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary" @click="byAuthor = false">By repository</button>
            <button type="button" class="btn btn-secondary" @click="byAuthor = true">By author</button>
          </div>

          <h2 v-if="byAuthor">Enter an author</h2>
          <h2 v-else>Enter a repo name</h2>

          <form class="form-inline">
              <div class="form-group mb-2">
                  <input type="text" id="searchBox" class="form-control">
                  <label for="after">After:</label>
                  <input id="after" type="date">
                  <label for="before">Before:</label>
                  <input id="before" type="date">
              </div>
              <button type="button" v-on:click="fetchIt" class="btn btn-primary mb-2">Get</button>
          </form>
          <h2 v-if="name">{{ name }}</h2>

          <ol>
              <div v-if="byAuthor">
              <li v-for="commit in commits">
                  {{ commit.repo }} ({{ commit.count }})
              </li>
              </div>
              <div v-else>
              <li v-for="commit in commits">
                  {{ commit.author }} ({{ commit.count }})
              </li>
              </div>
          </ol>
          </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./test.js"></script>
  </body>
</html>
